<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <knwlab>
      <add key="Username" value="deploy" />
      <add key="ClearTextPassword" value="y8eqQD2T2jLGmwH7jbry" />
    </knwlab>
  </packageSourceCredentials>
</configuration>
